<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>WriteWeibo</servlet-name>
		<servlet-class>com.weibo.web.servlet.WriteWeibo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>com.weibo.web.servlet.SignUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>com.weibo.web.servlet.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>setUserInfo</servlet-name>
		<servlet-class>com.weibo.web.servlet.UserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showUserInfo</servlet-name>
		<servlet-class>com.weibo.web.servlet.ShowUserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignOut</servlet-name>
		<servlet-class>com.weibo.web.servlet.SignOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/WEB-INF</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>incompatible_improvements</param-name>
			<param-value>2.3.23</param-value>
		</init-param>
		<init-param>
			<param-name>template_exception_handler</param-name>
			<param-value>rethrow</param-value>
		</init-param>
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>locale</param-name>
			<param-value>zh_CN</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>showOtherUser</servlet-name>
		<servlet-class>com.weibo.web.servlet.ShowOtherUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>following</servlet-name>
		<servlet-class>com.weibo.web.servlet.Following</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>isfollowing</servlet-name>
		<servlet-class>com.weibo.web.servlet.IsFollowing</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>isfollowed</servlet-name>
		<servlet-class>com.weibo.web.servlet.IsFollowed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteFollowing</servlet-name>
		<servlet-class>com.weibo.web.servlet.DeleteFollowing</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowHomePage</servlet-name>
		<servlet-class>com.weibo.web.servlet.ShowHomePage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchuser</servlet-name>
		<servlet-class>com.weibo.web.servlet.SearchUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>com.weibo.web.servlet.AddComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>otheruser</servlet-name>
		<servlet-class>com.weibo.web.servlet.OtherUserHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forward</servlet-name>
		<servlet-class>com.weibo.web.servlet.ForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>collect</servlet-name>
		<servlet-class>com.weibo.web.servlet.CollectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showcollectblog</servlet-name>
		<servlet-class>com.weibo.web.servlet.ShowCollectBlog</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WriteWeibo</servlet-name>
		<url-pattern>/WriteWeibo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/SignIn.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showUserInfo</servlet-name>
		<url-pattern>/showUserInfo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>setUserInfo</servlet-name>
		<url-pattern>/setUserInfo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
		<url-pattern>/SignOut.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showOtherUser</servlet-name>
		<url-pattern>/showOtherUser.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>following</servlet-name>
		<url-pattern>/following.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>isfollowing</servlet-name>
		<url-pattern>/isFollowing.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>isfollowed</servlet-name>
		<url-pattern>/isFollowed.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteFollowing</servlet-name>
		<url-pattern>/deleteFollowing.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowHomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/AddComment.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchuser</servlet-name>
		<url-pattern>/searchuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>otheruser</servlet-name>
		<url-pattern>/otheruser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forward</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>collect</servlet-name>
		<url-pattern>/collect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showcollectblog</servlet-name>
		<url-pattern>/showcollectblog</url-pattern>
	</servlet-mapping>


	<!-- filter start -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>com.weibo.web.filter.CharsetEncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>